body{
    margin: 0%;
    height: 650px;
    background: #cfeaff;
    
}
header{
height: 50px;
width: auto;
position: fixed;
left: 0px;
right: 0px;
top: 0px;
z-index: 10;

}
.barra{
width: auto;
top: 0;
height: 50px;
display:flex;
justify-content:space-around;
background-color: #a7cfee;
font-family: 'Inter', sans-serif;
align-items: center;
border: 8px solid transparent;
}

ul{ 
    width:780px; 
    list-style: none;      
}
ul li{
    float:left; /* posicona a propriedade CSS que usamos na tela, seja um elemento em bloco ou em linha */
    background-color: #4988B8;
    position: relative;/* Posiciona o item filho ao lado da LI qdo item pai */
    border-radius: 25px;
    display:flex;
    margin-right: 20px;
    margin-left: 20px;
    width: 116px;
    font-weight: 400;
    text-align: center;
}
ul li a{
    display: flex; /* Renderiza o elemento HTML como bloco, tal como os parágrafos e os cabeçalhos o são */
    padding: 8px;
    text-decoration:dashed;
    color: #ffffff;
    width: 110px;
    align-items: center;
    justify-content: center;
}
ul li:hover > a{ /* Quando passarmos o mouse sobre a LI colocamos estilo no A */
    background-color: #2B4F6B;
    border-radius: 25px; 
    width: 110px;
    position:relative;
}

ul li ul{
    display:none;
    position:absolute;
    top: 34px;
    left: -45px;
    text-align: center;
    width: 110px;
}

ul li:hover ul{
    width: 210px; 
    display: block; 
}
.linha{
    position: relative;
    top: 45px;
    width: 100%;
    height: 100px;
}

.titulo{
    position: relative;
    font-size:55px;
    font-family:;
    color: #2B4F6B;
    text-align: center;
    top: 15px;
}
.imagem{
    position: absolute;
    height: 60px;
    width: 60px;
    margin-left: 99vh;
    top: 80px;
}

.painel{
    position: relative;
    top: 100px;
    width: 700px;
    margin-left: 250px;
    margin-right: 250px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.limpar{
    background-color: #4988B8;
    color: white;
    border: none;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    background-image: url('lixeira.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    background-size: 25px;
    background-position-x: 5px;
    padding-left: 35px; 
    background-position-y: -2px;
}

.voltar{
    position: relative;
    text-decoration: none;
    margin-left: 260px;
    top: 120px;
    background-color: #4988B8;
    color: white;
    border: none;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;

}

.formas{
    position: relative;
    top:120px;
    background-color: #4988B8;
    color: white;
    border: none;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 350px;
}


#itens {
    margin-bottom: 10px;
}

#itens hr {
    border-top: 1px solid #ddd;
    margin-top: 5px;
    margin-bottom: 5px;
}

#total {
    font-weight: bold;
}

a{
    text-decoration: none;
    color: white;
}