body{
    margin: 0%;
    height: 650px;
    
}
header{
height: 50px;
width: auto;
position: fixed;
left: 0px;
right: 0px;
top: 0px;
z-index: 10;

}
.barra{
width: auto;
top: 0;
height: 50px;
display:flex;
justify-content:space-around;
background-color: #a7cfee;
font-family: 'Inter', sans-serif;
align-items: center;
border: 8px solid transparent;
}

ul{ 
    width:780px; 
    list-style: none;      
}
ul li{
    float:left; /* posicona a propriedade CSS que usamos na tela, seja um elemento em bloco ou em linha */
    background-color: #4988B8;
    position: relative;/* Posiciona o item filho ao lado da LI qdo item pai */
    border-radius: 25px;
    display:flex;
    margin-right: 20px;
    margin-left: 20px;
    width: 116px;
    font-weight: 400;
    text-align: center;
}
ul li a{
    display: flex; /* Renderiza o elemento HTML como bloco, tal como os parágrafos e os cabeçalhos o são */
    padding: 8px;
    text-decoration:dashed;
    color: #ffffff;
    width: 110px;
    align-items: center;
    justify-content: center;
}
ul li:hover > a{ /* Quando passarmos o mouse sobre a LI colocamos estilo no A */
    background-color: #2B4F6B;
    border-radius: 25px; 
    width: 110px;
    position:relative;
}

ul li ul{
    display:none;
    position:absolute;
    top: 34px;
    left: -45px;
    text-align: center;
    width: 110px;
}

ul li:hover ul{
    width: 210px; 
    display: block; 
}

.coluna1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.produto {
    font-size: small;
    font-weight: bolder;
    width: 17.3vw;
    height: auto;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1.5px solid;
    border-color: #000000;
    border-radius: 13px;
    background-color: #FFFFFF;
}

.produto img {
    margin-top: 20px;
}

a {
    text-decoration: none; 
    color: #000000; /* Define a cor desejada para os links não visitados */ 
} 

.produto > a:hover { 
    text-decoration: underline; 
    color: #2d7ee7; /* Define a cor desejada para os links ao passar o mouse */ 
}

.produto > a > p{
    min-height: 40px;
    font-size: 2.5vh;
}

.produto > a > img {
    width: 12vw;
    height: 12vw;
}

#preco {
    font-size: 3vh;
    color: white;
    font-weight: 400;
    width: 130px;
    background: linear-gradient(270deg, #016cf8 0%, #1d1fa1 37.08%);
    mix-blend-mode: normal;
    border: 1px solid #3197f7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #008cff;
}

#preco:hover {
    zoom: 1.2;
    transition: zoom 0.75;
}

 footer{
position:absolute;
margin: 0px;
bottom: -500px;  /*sempre deixar do mesmo tamanho do height body da pagina porem negativo (-) */
width: 100%;
height: 210px;
background-color: #A7CFEE;
color: #2B4F6B;
justify-content: space-between;
/* border: 10px solid transparent; */

}
.rodape1{
    float: left;
    margin-left: 5px;
    margin-right: 0px;
    text-align: center;
    position: relative;
    top: 20px;
}
.rodape2{
    float:left;
    margin-left: 110px;
    margin-right: 0px;
    align-content: center;
    position: relative;
    top: 25px;
}

.mapa{
    position: relative;
    bottom: -5px;
    float: right ;
    margin-right: 30px;
    
}

.redes{
margin: 10px;
width: 40px;
}