body{
    margin: 0%;
    height: 650px;
    
}
header{
height: 50px;
width: auto;
position: fixed;
left: 0px;
right: 0px;
top: 0px;
z-index: 10;

}
.barra{
width: auto;
top: 0;
height: 50px;
display:flex;
justify-content:space-around;
background-color: #a7cfee;
font-family: 'Inter', sans-serif;
align-items: center;
border: 8px solid transparent;
}

ul{ 
    width:780px; 
    list-style: none;      
}
ul li{
    float:left; /* posicona a propriedade CSS que usamos na tela, seja um elemento em bloco ou em linha */
    background-color: #4988B8;
    position: relative;/* Posiciona o item filho ao lado da LI qdo item pai */
    border-radius: 25px;
    display:flex;
    margin-right: 20px;
    margin-left: 20px;
    width: 116px;
    font-weight: 400;
    text-align: center;
}
ul li a{
    display: flex; /* Renderiza o elemento HTML como bloco, tal como os parágrafos e os cabeçalhos o são */
    padding: 8px;
    text-decoration:dashed;
    color: #ffffff;
    width: 110px;
    align-items: center;
    justify-content: center;
}
ul li:hover > a{ /* Quando passarmos o mouse sobre a LI colocamos estilo no A */
    background-color: #2B4F6B;
    border-radius: 25px; 
    width: 110px;
    position:relative;
}

ul li ul{
    display:none;
    position:absolute;
    top: 34px;
    left: -45px;
    text-align: center;
    width: 110px;
}

ul li:hover ul{
    width: 210px; 
    display: block; 
}

.slider {
    top: 65px;
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide.active {
    opacity: 1;
}


.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 80px;
    color: #a7cfee ;
    cursor: pointer;
}

.prev-button {
    left: 10px; 
}

.next-button {
    right: 10px;
}

.adestramento{
    top: 75px;
    height: 300px;
    position: relative;
    background-color: #a7cfee;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
}
.text1{
    position: relative;
    top: 45px;
    width: 470px;
    left: 10px;
    color: #2B4F6B;
    font-size: larger;
    font-family: 'Courier New';
    text-align: center;
    margin-left: 80px;
}

.botao1{
    position: relative;
    width: 80px;
    top: 40px;
    margin-left:280px;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #ccd792;
    background-color: #5FAFEB;
    border-bottom: #ccd792;

    border: #ccd792;
    border-radius: 5px;
    
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    top: 40px;
    position: relative;
    left: 5px;
    margin-right: 80px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    background-size: 45px;
    background-position-x: 25px;
    padding-left: 10px; 

    
}
button:hover {
    background-color: #4988B8;
    box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
    color: #fff;
    transform: translateY(-7px);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    background-size: 45px;
    background-position-x: 25px;
    padding-left: 10px; 
    } 
  
  button:active {
    transform: translateY(-1px);
  } 
  


.imagem1{
    position: relative;
    float: right;
    margin-right: 50px;
    bottom: 145px;
}

.dogwalker{
    top: 75px;
    height: 300px;
    position: relative;
    background-color: #a7cfee;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
}
.text2{
    position: relative;
    top: 45px;
    width: 470px;
    left: 10px;
    color: #2B4F6B;
    font-size: larger;
    font-family: 'Courier New';
    text-align: center;
    margin-left: 80px;
}

.botao2{
    position: relative;
    width: 80px;
    top: 40px;
    margin-left:280px;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #ccd792;
    background-color: #5FAFEB;
    border-bottom: #ccd792;

    border: #ccd792;
    border-radius: 5px;
    
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    top: 40px;
    position: relative;
    left: 5px;
    margin-right: 80px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    background-size: 45px;
    background-position-x: 25px;
    padding-left: 10px; 

    
}
button:hover {
    background-color: #4988B8;
    box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
    color: #fff;
    transform: translateY(-7px);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    background-size: 45px;
    background-position-x: 25px;
    padding-left: 10px; 
    } 
  
  button:active {
    transform: translateY(-1px);
  } 
  




.imagem2{
    position: relative;
    float: right;
    margin-right: 50px;
    bottom: 100px;
}

.petsitter{
    top: 75px;
    height: 300px;
    position: relative;
    background-color: #a7cfee;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
}
.text3{
    position: relative;
    top: 45px;
    width: 470px;
    left: 10px;
    color: #2B4F6B;
    font-size: larger;
    font-family: 'Courier New';
    text-align: center;
    margin-left: 80px;
}

.botao3{
    position: relative;
    width: 80px;
    top: 40px;
    margin-left:280px;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #ccd792;
    background-color: #5FAFEB;
    border-bottom: #ccd792;

    border: #ccd792;
    border-radius: 5px;
    
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    top: 40px;
    position: relative;
    left: 5px;
    margin-right: 80px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    background-size: 45px;
    background-position-x: 25px;
    padding-left: 10px; 

    
}
button:hover {
    background-color: #4988B8;
    box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
    color: #fff;
    transform: translateY(-7px);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    background-size: 45px;
    background-position-x: 25px;
    padding-left: 10px; 
    } 
  
  button:active {
    transform: translateY(-1px);
  } 
  




.imagem3{
    position: relative;
    float: right;
    margin-right: 50px;
    bottom: 100px;
}


 footer{
position:absolute;
margin: 0px;
bottom: -1200px;  /*sempre deixar do mesmo tamanho do height body da pagina porem negativo (-) */
width: 100%;
height: 210px;
background-color: #A7CFEE;
color: #2B4F6B;
justify-content: space-between;
/* border: 10px solid transparent; */

}
.rodape1{
    float: left;
    margin-left: 5px;
    margin-right: 0px;
    text-align: center;
    position: relative;
    top: 20px;
}
.rodape2{
    float:left;
    margin-left: 110px;
    margin-right: 0px;
    align-content: center;
    position: relative;
    top: 25px;
}

.mapa{
    position: relative;
    bottom: -5px;
    float: right ;
    margin-right: 30px;
    
}

.redes{
margin: 10px;
width: 40px;
}